@font-face{
	font-family: 'whiteonblack';
	src: url('whiteonblack.ttf');
}

/* BODY */

body
{
	background-image: url(fond.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'whiteonblack', Arial, setif;
	


   
}

h1
{font-size: 600%;}

h2
{
	font-size: 150%;
}

.nom
{
	
	color: white;
	
}

.corps
{
		display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: none;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50vh;
    transform: translateY(-50%);

}

/* CONTENU */

img
{
	width: 250px;
	height: 250px;
	box-shadow: 6px 6px 0px black;
	border-radius: 50px;
	}


.bouton
{
	flex: 3 100%;
	text-align: center;


}

a
{
  display: inline-block;
  background-color: none;
  border-radius: 10px;
  border: 5px whitesmoke;
  border-style: ridge;
  box-shadow: 6px 6px 3px black;
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  margin-top: 3%;
  text-decoration: none;
   
}


a:hover
{
	color: red;
}

a:visited

{
	color: snow;
}

/*RESPONSIVE DESIGN*/

@media screen and (max-width: 1280px)
{
 body{align-items: stretch;}
.corps{ flex-direction: column ;justify-content: center; margin-top: 50vh;
    transform: translateY(-50%);}
.photo {text-align: center; order: 1;}
img{ width: 50%; height: 50%; }
.nom {text-align: center; order: 2;}
.bouton {text-align: center; order: 3; margin-top: 2%;} 

}
